---
import { getCollection } from "astro:content";

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

import Layout from "layouts/Layout.astro";
import NavBar from "components/NavBar.astro";
import { parseDateFromFilePath, isDraft } from "lib/blog/utils";

dayjs.extend(utc);

const entries = await getCollection("blog").then((entries) =>
    entries
        .map((entry) => {
            const title = entry.data.title;

            const date = parseDateFromFilePath(entry.filePath!);
            const formattedDate = dayjs(date).utc().format("MM/DD/YYYY");

            return {
                url: `/thoughts/${entry.id}`,
                title: title,
                date: formattedDate,
                isDraft: isDraft(entry.filePath!),
            };
        })
        .reverse(),
);
---

<Layout
    title="Ray Arayilakath | Thoughts"
    description="3+ years of experience growing engineering at YC-backed startups 🪴. researching tech justice at purdue university. building ethical and equitable software for the next 10 billion developers."
>
    <div
        class="flex flex-col items-start justify-start h-full w-full overflow-y-auto scrollbar-override"
    >
        <div
            class="flex flex-col-reverse lg:flex-row items-start justify-start w-full mt-[20px] lg:mt-[30px] mb-[110px] lg:mb-[172px]"
        >
            <div class="flex flex-col items-start justify-start mr-auto">
                <h1 class="text-[64px] lg:text-[168px] leading-none">
                    THOUGHTS
                </h1>
            </div>
            <div class="mr-[25px]">
                <NavBar />
            </div>
        </div>
        <div
            class="flex flex-col items-start justify-start lg:gap-[30px] lg:w-[calc(100%-50px)] lg:mx-auto w-full"
        >
            {
                entries.map((entry) => (
                    <div class="flex flex-row items-start justify-start w-full">
                        <p
                            class:list={[
                                "text-[40px]",
                                "lg:text-6xl",
                                "w-full",
                                "hover:text-zinc-500",
                                "hover:cursor-pointer",
                                entry.isDraft && "text-red-500",
                                entry.isDraft && "!hover:text-red-400",
                            ]}
                        >
                            <a
                                href={entry.url}
                                class="flex flex-row items-start justify-between gap-4 w-full"
                            >
                                <span class="w-full lg:min-w-fit lg:w-auto">
                                    {entry.title}
                                </span>
                                <span class="hidden lg:block w-0 lg:w-full dots" />
                                <span class="hidden lg:block min-w-fit">
                                    {entry.date}
                                </span>
                            </a>
                        </p>
                    </div>
                ))
            }
        </div>
    </div>

    <style>
        .dots {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
        }

        .dots::before {
            content: "................................................................................................................................................................................";
            display: inline-block;
            text-align: left;
            letter-spacing: -0.2em;
            overflow: hidden;
        }
    </style>
</Layout>

<style>
    .scrollbar-override {
        @media (min-width: 1024px) {
            scrollbar-gutter: stable;
        }
    }
</style>
