---
import Layout from "layouts/Layout.astro";
import NavBar from "components/NavBar.astro";
---

<Layout
    title="Ray Arayilakath | My Work"
    description="3+ years of experience growing engineering at YC-backed startups 🪴. researching tech justice at purdue university. building ethical and equitable software for the next 10 billion developers."
>
    <div
        class="flex flex-col items-start justify-start h-full w-full overflow-y-auto scrollbar-override"
    >
        <div
            class="flex flex-col-reverse lg:flex-row items-start justify-start w-full mt-[20px] lg:mt-[30px] mb-[110px] lg:mb-[172px]"
        >
            <div class="flex flex-col items-start justify-start mr-auto">
                <h1 class="text-[64px] lg:text-[168px] leading-none">RÉSUMÉ</h1>
            </div>
            <div class="mr-[25px]">
                <NavBar />
            </div>
        </div>
        <div
            class="flex flex-col items-start justify-start gap-9 lg:w-[calc(100%-50px)] lg:mx-auto w-full"
        >
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <p class="text-[40px] lg:text-6xl">MEETYOURCLASS</p>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Software Engineering Intern
                        </p>
                        <p class="text-xl lg:text-4xl">JAN 2025 - PRESENT</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        MeetYourClass works with universities to boost their
                        enrollment funnels by leveraging Gen Z's go-to
                        platforms. I am working on the core product, building
                        features to help students find and connect with their
                        classmates.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start gap-9 lg:w-[calc(100%-50px)] lg:mx-auto w-full"
            >
                <div
                    class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
                >
                    <p class="text-[40px] lg:text-6xl">TECH JUSTICE LAB</p>
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Undergraduate Researcher
                        </p>
                        <p class="text-xl lg:text-4xl">AUG 2024 - PRESENT</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        The Tech Justice Lab is a research group at Purdue
                        University that studies the social implications of
                        technology. I am conducting research on global
                        misinformation and disinformation campaigns.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start gap-9 lg:w-[calc(100%-50px)] lg:mx-auto w-full"
            >
                <div
                    class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
                >
                    <p class="text-[40px] lg:text-6xl">JUMPSEAT</p>
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">Software Engineer</p>
                        <p class="text-xl lg:text-4xl">OCT 2024 - DEC 2024</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        Jumpseat is a travel platform that helps students save
                        time and money traveling to and from college. I worked
                        on an enterprise bookings management system in
                        partnership with local transportation providers.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start gap-9 lg:w-[calc(100%-50px)] lg:mx-auto w-full"
            >
                <div
                    class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
                >
                    <p class="text-[40px] lg:text-6xl">REPLIT</p>
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Software Engineering Intern
                        </p>
                        <p class="text-xl lg:text-4xl">MAR 2023 - MAY 2024</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        Replit is a browser-based coding workspace that
                        streamlines app development and deployment. I worked on
                        large-scale anti-abuse problems at Replit, fighting
                        multiple account abuse, spam, phishing, financial fraud,
                        compute abuse, and emerging abuse patterns.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start gap-9 lg:w-[calc(100%-50px)] lg:mx-auto w-full"
            >
                <div
                    class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
                >
                    <p class="text-[40px] lg:text-6xl">FREELANCE</p>
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Fullstack Web Developer
                        </p>
                        <p class="text-xl lg:text-4xl">OCT 2022 - JAN 2023</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        I worked on a variety of projects for clients, including
                        e-commerce websites, agriculture management systems, and
                        project management tools.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start gap-9 lg:w-[calc(100%-50px)] lg:mx-auto w-full"
            >
                <div
                    class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
                >
                    <p class="text-[40px] lg:text-6xl">DEEL</p>
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Freelance Web Developer
                        </p>
                        <p class="text-xl lg:text-4xl">SEP 2022 - OCT 2022</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        Deel (YC W19) is a payroll platform for remote teams. I
                        worked on improving their internal marketing tools and
                        search features on their blog website.
                    </p>
                </div>
            </div>
        </div>
        <div class="pb-16"></div>
    </div>
</Layout>

<style>
    .scrollbar-override {
        @media (min-width: 1024px) {
            scrollbar-gutter: stable both-edges;
        }
    }
</style>
