---
import Layout from "layouts/Layout.astro";
import NavBar from "components/NavBar.astro";
---

<Layout
    title="Ray Arayilakath | My Work"
    description="3+ years of experience growing engineering at YC-backed startups 🪴. researching tech justice at purdue university. building ethical and equitable software for the next 10 billion developers."
>
    <div
        class="flex flex-col items-start justify-start h-full w-full overflow-y-auto scrollbar-override"
    >
        <div
            class="flex flex-col-reverse lg:flex-row items-start justify-start w-full mt-[20px] lg:mt-[30px] mb-[110px] lg:mb-[172px]"
        >
            <div class="flex flex-col items-start justify-start mr-auto">
                <h1 class="text-[64px] lg:text-[168px] leading-none">RÉSUMÉ</h1>
            </div>
            <div class="mr-[25px]">
                <NavBar />
            </div>
        </div>
        <div
            class="flex flex-col items-start justify-start gap-9 lg:w-[calc(100%-50px)] lg:mx-auto w-full"
        >
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <h2 id="meetyourclass" class="text-[40px] lg:text-6xl">
                    MEETYOURCLASS
                </h2>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Software Engineering Intern
                        </p>
                        <p class="text-xl lg:text-4xl">JAN 2025 - PRESENT</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        MeetYourClass works with universities to boost their
                        enrollment funnels by leveraging Gen Z's go-to
                        platforms. I am working on the core product, building
                        features to help students find and connect with their
                        classmates.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <h2 id="meetyourclass" class="text-[40px] lg:text-6xl">
                    PURDUE DATA MINE
                </h2>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">Data Science Intern</p>
                        <p class="text-xl lg:text-4xl">JAN 2025 - PRESENT</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        The Data Mine at Purdue University partners with
                        Corporate Partners to provide highly-capable teams of
                        students with real-world data science problems to solve.
                        I am working on machine learning models over large data
                        sets to predict future trends in the industry.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <h2 id="meetyourclass" class="text-[40px] lg:text-6xl">
                    PURDUE HACKERS
                </h2>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">Incoming President</p>
                        <p class="text-xl lg:text-4xl">JAN 2025 - PRESENT</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        Purdue Hackers is the largest student-run CS
                        organization at Purdue University (500+ members). I will
                        be leading the organization to a new era of growth and
                        expanding our impact on campus, improving our community
                        presence, partnering with the university and industry
                        partners, and increasing our brand recognition.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <h2 id="techjusticelab" class="text-[40px] lg:text-6xl">
                    TECH JUSTICE LAB
                </h2>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">Policy Researcher</p>
                        <p class="text-xl lg:text-4xl">AUG 2024 - PRESENT</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        The Tech Justice Lab is a research group at Purdue
                        University that studies the social implications of
                        technology. I am conducting research on global
                        misinformation and disinformation campaigns affecting
                        marginalized communities and soft-power strategies that
                        governments use to influence public opinion.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <h2 id="jumpseat" class="text-[40px] lg:text-6xl">JUMPSEAT</h2>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">Software Engineer</p>
                        <p class="text-xl lg:text-4xl">OCT 2024 - DEC 2024</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        Jumpseat is a travel platform that helps students save
                        time and money traveling to and from college. I worked
                        on an enterprise bookings management system in
                        partnership with local transportation providers.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <h2 id="replit" class="text-[40px] lg:text-6xl">REPLIT</h2>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Software Engineering Intern
                        </p>
                        <p class="text-xl lg:text-4xl">MAR 2023 - MAY 2024</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        Replit is a browser-based coding workspace that
                        streamlines app development and deployment. I worked on
                        large-scale anti-abuse problems at Replit, fighting
                        multiple account abuse, spam, phishing, financial fraud,
                        compute abuse, and emerging abuse patterns.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <h2 id="freelance" class="text-[40px] lg:text-6xl">
                    FREELANCE
                </h2>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Fullstack Web Developer
                        </p>
                        <p class="text-xl lg:text-4xl">OCT 2022 - JAN 2023</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        I worked on a variety of projects for clients, including
                        e-commerce websites, agriculture management systems, and
                        project management tools.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-start w-full gap-2 lg:gap-4"
            >
                <h2 id="deel" class="text-[40px] lg:text-6xl">DEEL</h2>
                <div
                    class="w-full flex flex-col items-start justify-between gap-4"
                >
                    <div
                        class="w-full flex flex-col-reverse lg:flex-row items-start justify-between"
                    >
                        <p class="text-xl lg:text-4xl">
                            Freelance Web Developer
                        </p>
                        <p class="text-xl lg:text-4xl">SEP 2022 - OCT 2022</p>
                    </div>
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9 text-zinc-500 lg:max-w-[50%]"
                    >
                        Deel (YC W19) is a payroll platform for remote teams. I
                        worked on improving their internal marketing tools and
                        search features on their blog website.
                    </p>
                </div>
            </div>
        </div>
        <div class="pb-16"></div>
    </div>
</Layout>
