---
import Layout from "layouts/Layout.astro";
import NavBar from "components/NavBar.astro";
import Link from "components/Link.astro";

const host = Astro.url.hostname;
---

<Layout
    title="Ray Arayilakath - Software Engineer"
    description="3+ years of experience growing engineering at YC-backed startups 🪴. researching tech justice at purdue university. building ethical and equitable software for the next 10 billion developers."
>
    <div
        class="flex flex-col items-start justify-start h-full w-full overflow-y-hidden scrollbar-override"
    >
        <div
            class="flex flex-row items-start justify-start mt-[20px] lg:mt-0 mb-auto w-full"
        >
            <div class="w-0 lg:w-auto lg:mr-auto">
                <!-- Insert Distortion Grid Here -->
            </div>
            <div
                class="flex flex-col items-start lg:items-end justify-start w-full lg:max-w-[530px] lg:mt-[30px] lg:mr-[25px]"
            >
                <NavBar />
                <div class="w-full mb-[50px]">
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9"
                    >
                        3+ years of <Link href="/resume">experience</Link> growing
                        engineering at YC-backed startups 🪴. researching tech justice
                        at purdue university. building ethical and equitable software
                        for the next 10 billion developers.
                    </p>
                </div>
                <div class="flex flex-col items-end justify-start gap-2">
                    <p class="text-xl lg:text-2xl">
                        <Link
                            umami={{ event: "homepage_email_click" }}
                            href="mailto:me@rayhanadev.com"
                            >me@rayhanadev.com</Link
                        >
                    </p>
                    <p class="text-xl lg:text-2xl">
                        <Link
                            umami={{ event: "homepage_phone_click" }}
                            href="tel:817-470-7345">+1 (817) 470-7345</Link
                        >
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row items-end justify-start w-full">
            <div class="flex flex-col items-start justify-start mr-auto">
                <p class="hidden lg:block text-2xl leading-none ml-3">
                    software engineer • technological humanist
                </p>
                <h1
                    class="text-[60px] lg:text-[168px] leading-none -ml-[6px] w-full md:w-auto text-center md:text-left"
                >
                    RAYHANADEV
                </h1>
            </div>
            <div
                class="flex flex-row lg:flex-col items-center lg:items-start justify-start gap-2 lg:block lg:mb-[20px] lg:mr-[25px] w-full lg:w-auto"
            >
                <p class="hidden lg:block text-2xl">purdue hackers webring</p>
                <p class="block lg:hidden text-xl mr-auto">phack:</p>
                <div
                    class="flex flex-row items-start justify-between w-fit lg:w-full"
                >
                    <p class="text-xl lg:text-2xl">
                        <Link
                            href={`https://ring.purduehackers.com/next?host=${host}`}
                            external>[next]</Link
                        >
                    </p>
                    <p class="text-xl lg:text-2xl">
                        <Link
                            href={`https://ring.purduehackers.com/previous?host=${host}`}
                            external>[prev]</Link
                        >
                    </p>
                    <p class="text-xl lg:text-2xl">
                        <Link href="https://ring.purduehackers.com/" external
                            >[main]</Link
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    .scrollbar-override {
        scrollbar-gutter: stable both-edges;
    }
</style>
