---
import Layout from "layouts/Layout.astro";
import NavBar from "components/NavBar.astro";
import Link from "components/Link.astro";
import WebringLink from "components/WebringLink.astro";

import { Image } from "astro:assets";
import heroNoiseGrid from "../assets/hero-noise-grid.webp";
---

<Layout
    title="Ray Arayilakath - Software Engineer"
    description="3+ years of experience growing engineering at YC-backed startups 🪴. researching tech justice at purdue university. building ethical and equitable software for the next 10 billion developers."
>
    <div
        class="flex flex-col items-start justify-start h-full w-full overflow-y-hidden scrollbar-override"
    >
        <div
            class="flex flex-row items-start justify-start mt-[20px] lg:mt-0 mb-auto w-full"
        >
            <div class="w-0 lg:w-auto lg:mr-auto">
                <Image
                    src={heroNoiseGrid}
                    alt="A grid of dots that have been distorted into a wave-like pattern."
                    class="hidden lg:block absolute top-0 left-0 z-[-1] w-[50%] lg:w-[55%]"
                    decoding="sync"
                    loading="eager"
                    fetchpriority="high"
                />
            </div>
            <div
                class="flex flex-col items-start lg:items-end justify-start w-full lg:max-w-[530px] lg:mt-[30px] lg:mr-[25px]"
            >
                <NavBar />
                <div class="w-full mb-[50px]">
                    <p
                        class="text-left lg:text-justify text-xl lg:text-2xl leading-8 lg:leading-9"
                    >
                        3+ years of <Link href="/resume">experience</Link> growing
                        engineering at YC-backed startups 🪴. researching tech justice
                        at purdue university. building ethical and equitable software
                        for the next 10 billion developers.
                    </p>
                </div>
                <div class="flex flex-col items-end justify-start gap-2">
                    <p class="text-xl lg:text-2xl">
                        <Link
                            umami={{ event: "homepage_email_click" }}
                            href="mailto:me@rayhanadev.com"
                            >me@rayhanadev.com</Link
                        >
                    </p>
                    <p class="text-xl lg:text-2xl">
                        <Link
                            umami={{ event: "homepage_phone_click" }}
                            href="tel:817-470-7345">+1 (817) 470-7345</Link
                        >
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row items-end justify-start w-full">
            <div class="flex flex-col items-start justify-start mr-auto">
                <p class="hidden lg:block text-2xl leading-none ml-3">
                    software engineer • technological humanist
                </p>
                <svg
                    width="992"
                    height="123"
                    viewBox="0 0 992 123"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-full lg:ml-[8px] sm:my-[20px] -mb-[30px]"
                >
                    <path
                        d="M66.044 123L37.316 73.188H13.964L8.336 71.928L10.856 61.596V58.908H37.568C42.776 58.908 46.948 57.844 50.084 55.716C53.22 53.532 55.46 50.676 56.804 47.148C58.204 43.62 58.904 39.784 58.904 35.64C58.904 31.048 58.148 27.212 56.636 24.132C55.124 20.996 52.66 18.644 49.244 17.076C45.828 15.508 41.264 14.724 35.552 14.724L15.476 14.64L15.392 10.608L8.252 0.86399C10.828 0.86399 13.712 0.86399 16.904 0.86399C20.096 0.86399 23.232 0.86399 26.312 0.86399C29.392 0.86399 32.052 0.86399 34.292 0.86399C47.9 0.86399 58.092 3.69199 64.868 9.348C71.644 14.948 75.032 23.18 75.032 34.044C75.032 38.132 74.584 42.192 73.688 46.224C72.792 50.2 71.224 53.924 68.984 57.396C66.744 60.868 63.664 63.836 59.744 66.3C55.824 68.708 50.84 70.388 44.792 71.34L45.212 69.324C47.172 69.268 48.796 69.436 50.084 69.828C51.428 70.22 52.604 70.948 53.612 72.012C54.676 73.076 55.768 74.616 56.888 76.632L83.684 123H66.044ZM0.524001 123V0.86399H15.98V123H0.524001ZM87.9024 123L127.466 0.86399H148.97L188.366 123H171.902L160.478 86.292L169.466 92.676H108.734L114.614 78.984H165.266L160.226 85.452L145.274 36.816L138.386 12.204H137.882L131.078 36.816L104.45 123H87.9024ZM231.645 82.008L191.241 0.86399H209.133L224.505 34.212L238.197 64.032H239.457L253.233 34.296L268.689 0.86399H286.497L246.177 82.008H231.645ZM231.225 123V73.944H246.513V123H231.225ZM363.039 123V0.86399H378.747V123H363.039ZM300.459 123V0.86399H316.167V123H300.459ZM311.799 67.392V53.196H365.895L365.727 67.392H311.799ZM390.106 123L429.67 0.86399H451.174L490.57 123H474.106L462.682 86.292L471.67 92.676H410.938L416.818 78.984H467.47L462.43 85.452L447.478 36.816L440.59 12.204H440.086L433.282 36.816L406.654 123H390.106ZM501.928 123V0.86399H522.004L554.68 77.136L566.86 106.536H567.448L565.096 76.632V0.86399H580.216V123H560.14L527.716 47.232L515.704 18.084H515.032L517.132 48.492V123H501.928ZM591.574 123L631.138 0.86399H652.642L692.038 123H675.574L664.15 86.292L673.138 92.676H612.406L618.286 78.984H668.938L663.898 85.452L648.946 36.816L642.058 12.204H641.554L634.75 36.816L608.122 123H591.574ZM719.609 123L715.829 108.384H734.561C742.065 108.384 748.505 106.592 753.881 103.008C759.257 99.368 763.373 94.048 766.229 87.048C769.085 80.048 770.513 71.48 770.513 61.344C770.513 50.648 769.141 41.94 766.397 35.22C763.709 28.444 759.677 23.46 754.301 20.268C748.981 17.076 742.373 15.48 734.477 15.48H715.157L719.609 0.86399H732.629C749.485 0.86399 762.673 5.67999 772.193 15.312C781.713 24.944 786.473 40.232 786.473 61.176C786.473 74.728 784.177 86.096 779.585 95.28C774.993 104.464 768.665 111.38 760.601 116.028C752.537 120.676 743.241 123 732.713 123H719.609ZM703.985 123V0.86399H719.609V123H703.985ZM807.827 123V0.86399H877.967V14.388H816.647L823.451 7.91999V56.724L816.647 52.188H872.003V65.712H818.999L823.451 60.756V117.288L816.647 109.224H881.579V123H807.827ZM933.341 123L896.717 0.86399H914.525L938.045 86.88L943.505 108.048H944.597L950.057 86.88L973.493 0.86399H991.301L954.761 123H933.341Z"
                        fill="black"></path>
                </svg>
            </div>
            <div
                class="flex flex-row lg:flex-col items-center lg:items-start justify-start gap-2 lg:block lg:mb-[20px] lg:mr-[25px] w-full lg:w-auto"
            >
                <p class="hidden lg:block text-2xl">purdue hackers webring</p>
                <p class="block lg:hidden text-xl mr-auto">phack:</p>
                <div
                    class="flex flex-row items-start justify-between w-fit lg:w-full"
                >
                    <p class="text-xl lg:text-2xl">
                        <WebringLink type="previous" />
                    </p>
                    <p class="text-xl lg:text-2xl">
                        <WebringLink type="next" />
                    </p>
                    <p class="text-xl lg:text-2xl">
                        <WebringLink type="main" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
