---
import Layout from "layouts/Layout.astro";
import NavBar from "components/NavBar.astro";
import Link from "components/Link.astro";

const host = Astro.url.hostname;
---

<Layout
    title="Ray Arayilakath - Software Engineer"
    description="3+ years of experience growing engineering at YC-backed startups 🪴. researching tech justice at purdue university. building ethical and equitable software for the next 10 billion developers."
>
    <div
        class="flex flex-col items-start justify-start h-full w-full overflow-y-clip"
    >
        <div
            class="flex flex-row items-start justify-start mt-[20px] md:mt-0 mb-auto w-full"
        >
            <div class="w-0 md:w-auto md:mr-auto">
                <!-- Insert Distortion Grid Here -->
            </div>
            <div
                class="flex flex-col items-start md:items-end justify-start w-full md:max-w-[530px] md:mt-[30px] md:mr-[25px]"
            >
                <NavBar />
                <div class="w-full mb-[50px]">
                    <p
                        class="text-left md:text-justify text-xl md:text-2xl leading-8 md:leading-9"
                    >
                        3+ years of <Link href="/resume">experience</Link>
                        growing engineering at YC-backed startups 🪴. researching
                        tech justice at purdue university. building ethical and equitable
                        software for the next 10 billion developers.
                    </p>
                </div>
                <div class="flex flex-col items-end justify-start gap-2">
                    <p class="text-xl md:text-2xl">
                        <Link href="mailto:me@rayhanadev.com"
                            >me@rayhanadev.com</Link
                        >
                    </p>
                    <p class="text-xl md:text-2xl">
                        <Link href="tel:817-470-7345">+1 (817) 470-7345</Link>
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row items-end justify-start w-full">
            <div class="flex flex-col items-start justify-start mr-auto">
                <p class="hidden md:block text-2xl leading-none ml-3">
                    software engineer • technological humanist
                </p>
                <h1 class="text-[64px] md:text-[168px] leading-none -ml-[6px]">
                    RAYHANADEV
                </h1>
            </div>
            <div
                class="flex flex-row md:flex-col items-center md:items-start justify-start gap-2 md:block md:mb-[20px] md:mr-[25px] w-full md:w-auto"
            >
                <p class="hidden md:block text-2xl">purdue hackers webring</p>
                <p class="block md:hidden text-xl mr-auto">phack:</p>
                <div
                    class="flex flex-row items-start justify-between w-fit md:w-full"
                >
                    <p class="text-xl md:text-2xl">
                        <Link
                            href={`https://ring.purduehackers.com/next?host=${host}`}
                            >[next]</Link
                        >
                    </p>
                    <p class="text-xl md:text-2xl">
                        <Link
                            href={`https://ring.purduehackers.com/previous?host=${host}`}
                            >[prev]</Link
                        >
                    </p>
                    <p class="text-xl md:text-2xl">
                        <Link href="https://ring.purduehackers.com/"
                            >[main]</Link
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
