---
import Layout from "layouts/Layout.astro";
---

<Layout
    title="Ray Arayilakath - Software Engineer"
    description="3+ years of experience growing engineering at YC-backed startups 🪴. researching tech justice at purdue university. building ethical and equitable software for the next 10 billion developers."
>
    <div
        class="flex flex-col items-start justify-start h-full w-full overflow-y-clip"
    >
        <div
            class="flex flex-row items-start justify-start w-full mt-[30px] mb-[172px]"
        >
            <div class="flex flex-col items-start justify-start mr-auto">
                <h1 class="text-[168px] leading-none">RÉSUMÉ</h1>
            </div>
            <div class="mr-[25px]">
                <!-- <NavBar /> -->
            </div>
        </div>
        <div
            class="flex flex-col items-start justify-start mx-[10px] gap-[30px] w-[calc(100%-50px)]"
        >
            <p class="text-6xl w-full">STUB</p>
        </div>
    </div>
</Layout>
